name: Go

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: go test ./...

      - name: generate
        run: go generate -x -v .

      # Sanity checks the generated files.
      - name: build
        run: go test ./...

  test-generator:
    name: test-generator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        working-directory: ./internal/generator
        run: go build .